<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
    <display-name>TransactionClient</display-name>

    <description>Client for transaction coordination</description>
    <servlet>
        <display-name>TransactionClient</display-name>
        <servlet-name>TransactionClient</servlet-name>
        <servlet-class>cz.vutbr.fit.xzelin15.dp.servlet.ClientServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>ResultServlet</servlet-name>
        <servlet-class>cz.vutbr.fit.xzelin15.dp.servlet.ResultServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>TransactionClient</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
</web-app>